@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
	.active {
		@apply text-orange-400 rounded-md px-2;
	}
	.icon-footer {
		@apply hover:text-orange-400 hover:bg-slate-800 hover:rounded-full p-2 bg-slate-900 rounded-full;
	}
	.navbar {
		@apply fixed top-0 z-20 h-[72px] w-full;
	}
	.navbar-active {
		@apply navbar bg-slate-900 backdrop-filter backdrop-blur-[5px] bg-opacity-45;

		transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
	}
}
